doctype html
html
  head
  meta(charset='utf8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="handheldfriendly", content="true")
  meta(name="mobileoptimized", content="320")
  meta(name="title" content="Oddoye David")
  meta(name="description" content="Backend Web Development")
  meta(property="og:title", content="Oddoye David")
  meta(property="og:description", content="Oddoye David | Web Developer")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://oddoye.com")
  meta(property="og:image", content="http://oddoye.com/img/og_image.gif")
  meta(property="og:site_name", content="Oddoye David")
  title= 'Oddoye David | Web Developer'
  link(rel="shortcut icon", href="http://oddoye.com/img/favicon.ico")
  link(rel="apple-touch-icon", href="http://oddoye.com/img/apple-touch-icon.png")
  link(rel="shortcut icon", href="img/favicon.ico")
  link(rel='stylesheet', href='css/main.css')

body
  header(role="banner")
    nav.h4(role="navigation") 
      a.js-fx(href="#home", title="home")= "Oddoye David"
      span= "  •  " 
      a.js-fx(href="#projects", title="projects")= "Projects"
  

  block content
  div.flick
  script(src="js/main.js")